@keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.relative:hover > div:first-child {
    opacity: 0.7;
  }
  